.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
p {
    font-size: 1.5em;
    font-weight: 600;
    color: #8decee;
}